{% load staticfiles %}

<html>
<head>
    <title>Misc App</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
<div class="content container">
    <header class="page-header" style="overflow: auto;">
        <h1 style="display: inline;">Misc App List</h1>
    </header>
    <div class="row">
        <div class="col-md-12">
            <h4>Check it</h4>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-sm active" name="info_path" disabled>접속경로 : PC</button>
                    <input type="hidden" name="platform_type" class="form-control" id="platform_type" readonly>
                </div>
                <div class="form-group">
                    <input type="text" name="user_id" class="form-control" id="user_id" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" name="user_pw" class="form-control" id="user_pw" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    var filter = "win16|win32|win64|mac";
    var nType = "";

    if (navigator.platform) {
        if (filter.indexOf(navigator.platform.toLowerCase()) < 0) {
            var varUA = navigator.userAgent.toLowerCase(); //userAgent 값 얻기
            if (varUA.match('android') != null) {
                //안드로이드 일때 처리
                nType = "MOBILE_ANDROID"
            } else if (varUA.indexOf("iphone")>-1||varUA.indexOf("ipad")>-1||varUA.indexOf("ipod")>-1) {
                //IOS 일때 처리
                nType = "MOBILE_IOS"
            } else {
                //아이폰, 안드로이드 외 처리
                alert("Unsupported browsers")
            }
        } else {
            nType = "PC";
        }
    }
    $("input[type=text][name=platform_type]").val(nType);
    $("button[name=info_path]").val("접속경로 : " + nType);
</script>
</html>